<h1>Lista de Compras</h1>

<div id="products">
  <% @products.each do |product| %>
    <div>
        <ul>
            <li>
                <a href="/products/<%= product.id %>">
                    <%= product.name %>    
                </a>            
            </li>
        </ul>
    </div>
    <% end %>
</div>
