<h1> Detalhes do Produto </h1>
    <ul>
        <li>
        <%= @product.name %>
        </li>
        <li>
        <%= @product.price %>
        </li>
        <li>
        <%= @product.quantity %>
        </li>
    </ul>
<%= link_to "Voltar", products_path %>
